


 <div class="col-md-12">
    <div class="body_carrousel carrousel">
        
          
      {{ $url := (printf "/images/%s" .Params.carrousel.folder) }}
      {{ $folder := (printf "/static/images/%s" .Params.carrousel.folder ) }}
      {{ $files := readDir $folder }}
      {{ $counter := 0 }}
      <div>
        {{ range $files }}
        {{ $counter = add $counter 1 }}
        <div class="carrousel-item {{ if eq $counter 1 }} carrousel-item-visible {{ end }}">
          <!-- <a href="{{$url}}/{{.Name | urlize }}"> -->
            <img class="carrousel-item-img" src="{{$url}}/{{.Name | urlize }}" alt="{{ .Name }}">
          <!-- </a> -->
        </div>
        {{ end }}
      </div>
      <div class="carrousel-actions">
            <button class="btn btn-carrousel" id="carrousel-btn-prev" aria-label="Previous slide">
                <i class="icon ion-android-arrow-dropleft-circle"></i>
            </button>
            <button class="btn btn-carrousel" id="carrousel-btn-next" aria-label="Next slide">
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </button>
      </div>

      
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
  </div>
    
        