
  <section class="gallery bg-gray">
    <div class="container col-md-12">
      <div class="row">
        {{ $url := (printf "/images/%s" .Params.carrousel.folder) }}
        {{ $folder := (printf "/static/images/%s" .Params.carrousel.folder ) }}
        {{ range (os.ReadDir $folder) }}
          {{ if not ( .IsDir ) }}
          
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item">
                <img loading="lazy" src="{{$url}}/{{ .Name }}" class="img-fluid" alt="gallery-image">
                <a data-fancybox="images" href="{{$url}}/{{ .Name }}"></a>
                <!-- 
                {{ if (in .Name "_") }}
                {{ $tabData := split .Name "_" }}
                <h3>{{ index ($tabData) 0 }}</h3>
                {{ $tabData2 := split (index ($tabData) 1) "." }}
                <p>{{ index ($tabData2) 0 }} </p>
                {{ end }}
                -->
              </div>
            </div>
          {{ end }}
        {{ end }}
  
      </div>
    </div>
  </section>
        