<section class="pricing-table section bg-gray">
    <div class="container">
      <div class="row">
        <!-- single pricing table -->
        {{ range .pricing_table }}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="pricing-item text-center">
            <div class="price-title">
              {{ with .name }}<h3>{{ . | markdownify }}</h3>{{ end }}
              {{ with .price }}<strong class="value">{{ . }}</strong>{{ end }}
              <p>{{ with .content }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <ul>
              {{ range .services }}
              <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        <!-- end single pricing table -->
      </div>
  </section>